<center>
  <h1>Rebecca</h1>
  <h2>Lesson 3 for 7353</h2>
  <h3>Machine Learning - DecisionTree</h3>
  <img src="../static/—Pngtree—fresh bread free illustration_4409217.png" width = "150px" height="150px" />
  <form method="POST">
      <label>Insert your age (1-99): </label>
      <input type="number" name="age" min="1" max="99">
      <br />
      <label>Insert your gender (0 for male, 1 for female): </label>
      <input type="number" name="gender" min="0" max="1">
      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
